@use "sass:map";
$colores: (
    fondo: rgb(54, 54, 54),
    secundario: rgb(191, 191, 191),
    texto: rgb(0, 0, 0),
    cuadro: rgb(152, 152, 152)
);
@mixin centrar($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
%titulos {
    display: flex;
    justify-content: center;
    text-align: center;
    color: map.get($colores, fondo);
}
@each $nombre, $valor in $colores {
    .bg-#{$nombre} {
        background-color: $valor;
    }
}
body {
    font-family: 'Hind Mysuru', sans-serif;
    background-color: map.get($colores, fondo);
    color: map.get($colores, texto);
}
/*inicio main*/
main {
    margin-top: 2rem;
    background-color: map.get($colores, fondo);
    .eventos {
        display: flex;
        justify-content: space-around;
    }
    .reservar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .formulario {
        @include centrar();
        margin-top: 2rem;
        img {
            max-width: 45vh;
        }
    }
    .imagen_circular {
        border-radius: 50%;
        object-fit: cover;
    }
    .fotos_menu {
        @include centrar(column);
    }
    .back {
        background-color: map.get($colores, cuadro);
    }
    section {
        div {
            div {
                @include centrar(row);
                p {
                margin: 1rem;
                }
            }
        }
        background-color: map.get($colores, secundario);
        h1 {
            @extend %titulos;
            padding-top: 2rem;
        }
        h2 {
            @extend %titulos;
            padding-top: 1rem;
        }
        .comentario {
            max-width: 40vh;
        }
        input {
            width: 100%;
            padding: 0.8rem;
            border: 2px solid #ccc;
            border-radius: 8px;
            font-size: 1rem;
            background-color: #f8f8f8;
            transition: border-color 0.3s ease;
        }
        .boton {
            max-width: 35vh;
            background-color: map.get($colores, fondo);
            border: none;
            padding: 0.8rem 1.5rem;
            border-radius: 8px;
        }
    }
}
/*final main*/